@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  margin: 0;
  line-height: 1.482857143;
  color: #666;
}

* {
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.container-sticky-footer {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
@media (min-width: 768px) {
  .container-sticky-footer {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-sticky-footer {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container-sticky-footer {
    width: 1200px;
  }
}

.about-row .about {
  display: flex;
  flex-wrap: wrap;
  background-color: #323544;
  color: #fff;
  padding: 30px 0 0;
  position: relative;
}
.about-row .about a {
  text-decoration: none;
  color: #fff;
}
.about-row .about .welcome-arrow {
  margin-left: 12px;
}
.about-row .what-our-clients-think {
  display: flex;
  flex-wrap: wrap;
  background-color: #323544;
  color: #fff;
  padding: 30px 0 50px;
  position: relative;
}
.about-row .what-our-clients-think a {
  color: #fff;
  text-decoration: none;
}
.about-row .what-our-clients-think .customer-quote {
  font-weight: 600;
  font-size: 1.3rem;
  font-style: italic;
}
.about-row .what-our-clients-think .customer-quote-author {
  color: #a3a8ac;
  font-weight: 600;
  font-size: 1.1rem;
}
.about-row .star {
  color: orange;
  font-size: 50px;
  display: inline-block;
}

p {
  line-height: 1.875rem;
  margin-bottom: 25px;
}

.banner-background {
  display: flex;
  background-size: cover;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.banner {
  color: #fff;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.banner a {
  text-decoration: none;
}
.banner h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 1.25rem;
  font-weight: 600;
}
.banner p {
  margin-bottom: 0.375rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.our-services h2 {
  font-size: 2.7rem;
  line-height: 1.1;
  color: #333645;
  font-weight: 400;
}
.our-services h3 {
  line-height: 1.1;
  font-size: 1.625rem;
  font-weight: 600;
  color: #333645;
  text-align: center;
}

.service-list .service {
  display: block;
  border: 1px solid #ccc;
  padding: 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
  margin-top: 30px;
}
.service-list p {
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 400;
  margin-bottom: 13px;
  line-height: 1.375rem;
  color: #333645;
}
.service-list h2 {
  font-size: 1.3rem;
  position: relative;
  padding-bottom: 10px;
  margin: 0 0 11px;
  text-align: center;
}
.service-list span {
  display: inline-block;
  font-size: 2rem;
  line-height: 62px;
  background-color: #333645;
  height: 65px;
  width: 65px;
  margin: 0 auto 17px;
  color: #fff;
  border-radius: 50%;
}

.partners {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
}
.partners img {
  width: 100%;
  padding: 0 20px;
  max-height: 70px;
  width: auto !important;
  filter: grayscale(1);
}
.partners img:hover {
  filter: grayscale(0);
}

.container-latest-news-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-latest-news-top h2 {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.1;
  font-size: 2.25rem;
  font-weight: 600;
  color: #333645;
}
.container-latest-news-top h3 {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.625rem;
  font-weight: 600;
  color: #333645;
}
.container-latest-news-top h3 a {
  color: #333645;
  text-decoration: none;
}
.container-latest-news-top .view-all-mobile {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .container-latest-news-top {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-latest-news-top {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container-latest-news-top {
    width: 1200px;
  }
}

.view-all-mobile {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.view-all-mobile a {
  font-size: 1.625rem;
  font-weight: 600;
  color: #333645;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
}

.news-article {
  flex: 0 0 auto;
  max-width: 100%;
}

.article {
  margin-right: auto;
  margin-left: auto;
  font-size: 0.8125rem;
  margin-top: 30px;
  position: relative;
  top: 0;
  transition: 0.5 ease;
}

.article-img-container {
  position: relative;
  display: flex;
  margin: auto;
}

.article-img-btn {
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 0.75rem;
  padding: 0 10px;
  line-height: 1.438rem;
  top: 10px;
  z-index: 1;
  text-transform: uppercase;
}

.art-btn-1 {
  background-color: #db8c0d;
}

.art-btn-2 {
  background-color: #2ecc71;
}

.art-btn-3 {
  background-color: #926fb1;
}

.article-img img {
  max-width: 100%;
}

.article-block {
  border-top: 0;
  border: 1px solid #ccc;
  padding: 30px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
.article-block .h3-1 {
  color: #db8c0d;
}
.article-block .h3-2 {
  color: #2ecc71;
}
.article-block .h3-3 {
  color: #926fb1;
}
.article-block h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 15px;
}
.article-block p {
  line-height: 1.375rem;
  font-size: 0.8125rem;
}

.user {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  display: flex;
  font-size: 0.875rem;
}

.user-img img {
  border-radius: 50%;
}

.article-date {
  padding-left: 20px;
  line-height: 20px;
}
.article-date strong {
  font-weight: 600;
  color: #333645;
}

.latest-news {
  padding-top: 50px;
  padding-bottom: 50px;
}

.case-studies {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
}
.case-studies img {
  width: 100%;
  padding: 0 20px;
  max-height: 70px;
  width: auto !important;
  filter: grayscale(1);
}
.case-studies img:hover {
  filter: grayscale(0);
}

footer {
  background-color: #323544;
  color: #fff;
  padding: 30px 0 0;
  position: relative;
}
footer .footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer-row .footer-logo {
  width: 250px;
}
footer .footer-row .footer-logo img {
  width: 100%;
  vertical-align: middle;
  border: 0;
}
footer .footer-row .footer-company-info {
  width: auto;
  display: flex;
  justify-content: space-between;
}
footer .footer-row .footer-company-info h4 {
  margin-top: 24px;
}
footer .footer-row .footer-company-info .footer-company-socials-logos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 30px;
}
footer .footer-row .footer-company-info .footer-company-socials-logos a {
  padding: 12px 22px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
}
footer .footer-row .footer-menu {
  flex: 100%;
  margin-bottom: 30px;
}
footer .footer-row .footer-menu a {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 768px) {
  footer .footer-row .footer-menu {
    flex: 50%;
  }
  footer .footer-row .footer-menu .footer-menu-list li {
    text-align: left;
  }
}
@media (min-width: 992px) {
  footer .footer-row .footer-menu {
    flex: 25%;
  }
}
@media (min-width: 1260px) {
  footer .footer-row .footer-menu {
    margin-bottom: 40px;
  }
}
footer .footer-row .footer-menu h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}
footer .footer-row .footer-menu .footer-menu-list li:hover {
  text-decoration: underline;
}
footer .footer-row ul {
  list-style-type: none;
  margin: auto;
}
footer .footer-row h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}
footer .sticky-footer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  width: 100%;
  background-color: #212330;
  color: #fff;
  text-align: left;
  font-size: 0.8125rem;
}
@media (max-width: 769px) {
  footer .sticky-footer {
    padding: 5px 0 10px;
    flex-direction: column;
  }
}
footer .sticky-footer a {
  text-decoration: none;
  color: #fff;
}
footer .sticky-footer a:hover {
  text-decoration: underline;
  color: #fff;
  list-style: none;
}
footer .container-sticky-footer {
  width: 100%;
}

.btn {
  height: auto;
  line-height: 35px;
  text-transform: uppercase;
  border-radius: 3px;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
}

.btn-service-software {
  color: #fff;
  background-color: #f7b322;
  border-color: #f7b322;
  padding: 5px 15px;
  font-size: 1.063rem;
}

.btn-primary-banner1 {
  margin: auto;
  color: #fff;
  background-color: #926fb1;
  margin-top: 1.938rem;
  margin-bottom: 1.125rem;
  padding: 5px 20px;
  line-height: 50px;
  font-size: 1.25rem;
}

.btn-google {
  background-color: #4387f6;
}

.btn-trustpilot {
  background-color: #00b67b;
}

.btn-primary-inverse {
  background-color: #272936;
}

.btn-google, .btn-trustpilot, .btn-primary-inverse {
  margin: auto;
  color: #fff;
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 20px;
}

.btn-bus-dev {
  color: #fff;
  background-color: #db8c0d;
  border-color: #db8c0d;
  padding: 5px 15px;
  font-size: 1.063rem;
}

.btn-digital {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  padding: 5px 15px;
  font-size: 1.063rem;
}

.btn-web {
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  padding: 5px 15px;
  font-size: 1.063rem;
}

.btn-primary {
  color: #fff;
  border-color: #333645;
}

.facebook {
  padding: 12px 22px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  line-height: 26px;
  background-color: #212330;
}
.facebook :hover {
  background-color: #3b5998;
}

.linkedin {
  padding: 12px 22px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  line-height: 26px;
  background-color: #212330;
}
.linkedin :hover {
  background-color: #0077b5;
}

.twitter {
  padding: 12px 22px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  line-height: 26px;
  background-color: #212330;
}
.twitter :hover {
  background-color: #00aced;
}

.instagram {
  padding: 12px 22px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  line-height: 26px;
  background-color: #212330;
}
.instagram :hover {
  background-color: #d93175;
}

@media (max-width: 535px) {
  .btn-primary-inverse {
    margin-bottom: 17px;
  }
}
@media (max-width: 1259px) {
  .btn-google, .btn-trustpilot {
    margin-top: 20px;
  }
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ky9gej");
  src: url("../fonts/icomoon.eot?ky9gej#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ky9gej") format("truetype"), url("../fonts/icomoon.woff?ky9gej") format("woff"), url("../fonts/icomoon.svg?ky9gej#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-laptop:before {
  content: "\e957";
}

.icon-computer:before {
  content: "\e90e";
}

.icon-display:before {
  content: "\e956";
}

.icon-bar-graph:before {
  content: "\e901";
}

.icon-phone_in_talk:before {
  content: "\e900";
}

.icon-embed2:before {
  content: "\ea80";
}

.icon-security:before {
  content: "\e903";
}

.icon-school:before {
  content: "\e902";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: #fff;
}

html {
  font-family: Poppins, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */