// ==========================================================================
// Java Script Contact Us Styles
// ==========================================================================

//Out of Hours Accordion
.ofh-it-support-hidden {
    display: none;
}

.ofh-it-support-active {
    display: block;
}

// Form styling 
.form-control.has-error {
    border-color: #d64541;
}