// ==========================================================================
// Middle Styles
// ==========================================================================

//Office-Nav
.our-office-nav-container {
    box-shadow: 0 5px 35px rgba(0, 0, 0, .1);
    padding: 14px 0 13px;
    width: 100%;
}

.our-office-nav {
    background: none;
    color: #333645;
    font-size: .8125rem;
    border-radius: 2px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    a {
    color: #333645;
    font-weight: 700;
    }
}

.our-office-nav>li+li:before {
    content: "/\A0";
    padding: 0 5px;
    color: #333645;
}

//Section-Top
.section-top {
    padding-bottom: 0;
    padding-top: 50px;
}

.section-top-title {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0 0 28px;
    color: #333645;
}

//Office Addresses

.office-list {
    margin-top: 20px;
    margin-bottom: 30px;
}

.office-address-row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-direction: column;
}

.office-address-item {
    border-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    border: 1px solid #ccc;
    margin-bottom: 30px;
    text-decoration: none;
     margin-top: 30px;
    text-align: center;
    position: relative;
    top: 0;
    transition: .5s ease;
}

.office-image-full {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.office-content {
    padding: 30px;
    text-align: left;
    display: flex;
    height: 100%;
    flex-direction: column;
    p {
        font-size: .8125rem;
        line-height: 1.375rem;
        font-weight: 400;
        margin-bottom: 15px;
        margin: 0 0 10px;
        letter-spacing: .4px;
        color: #666;
    }
}

.text-web {
    font-weight: 700;
    color: #926fb1;
    font-size: 1.625rem;
    margin: 0 0 15px;
    line-height: 1.1;
}

.office-title {
    font-weight: 400;
    color: #333645;
    background: transparent;
    font-size: 1.25rem;
}

//Media Queries

@media (min-width: 992px) {
    .office-address-item {
        width: 33.33333333%;
        position: relative;
        min-height: 1px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-width: 992px) {
    .office-address-row {
        flex-direction: row;
    }
}