// ==========================================================================
//  Mixins
// ==========================================================================

// Our Services Section
@mixin software-color {
    background-color: #67809f;
}
@mixin it-support-color {
    background-color: #4183d7;
}
@mixin digital-marketing-color {
    background-color: #2ecc71;
}
@mixin telecoms-service-color {
    background-color: #d64541;
}
@mixin web-design-color {
    background-color: #926fb1;
}
@mixin cyber-security-color {
    background-color: #f62459;
}
@mixin developer-training-color {
    background-color: #ce4125;
}

// our services section
.software-color {
    @include software-color;
}
.it-support-color {
    @include it-support-color;
}
.digital-marketing-color {
    @include digital-marketing-color;
}
.telecoms-service-color {
    @include telecoms-service-color;
}
.web-design-color {
    @include web-design-color;
}
.cyber-security-color {
    @include cyber-security-color;
}
.developer-training-color {
    @include developer-training-color;
}