// ==========================================================================
//  Mixins
// ==========================================================================

// Our Services Section
.software-color {
    background-color: #67809f;
}
.it-support-color {
    background-color: #4183d7;
}
.digital-marketing-color {
    background-color: #2ecc71;
}
.telecoms-service-color {
    background-color: #d64541;
}
.web-design-color {
    background-color: #926fb1;
}
.cyber-security-color {
    background-color: #f62459;
}
.developer-training-color {
    background-color: #ce4125;
}