// ==========================================================================
//  Mixins
// ==========================================================================

// Our Services Section
@mixin software-color {
    background-color: #67809f;
}
@mixin it-support-color {
    background-color: #4183d7;
}
@mixin digital-marketing-color {
    background-color: #2ecc71;
}
@mixin telecoms-service-color {
    background-color: #d64541;
}
@mixin web-design-color {
    background-color: #926fb1;
}
@mixin cyber-security-color {
    background-color: #f62459;
}
@mixin developer-training-color {
    background-color: #ce4125;
}

// Drop Down Menu
.main-nav-ddm-1 {
    :hover {
        @include software-color;
        .icon-software-ddm {
            @include software-color;
        }
    }
}

.main-nav-ddm-2 {
    :hover {
        @include it-support-color;
        .icon-it-support-ddm {
            @include it-support-color;
        }
    }
}

.main-nav-ddm-3 {
    :hover {
        @include digital-marketing-color;
        .icon-digital-marketing-ddm {
            @include digital-marketing-color;
        }
    }
}

.main-nav-ddm-4 {
    :hover {
        @include telecoms-service-color;
        .icon-telecoms-service-ddm {
            @include telecoms-service-color;
        }
    }
}

.main-nav-ddm-5 {
    :hover {
        @include web-design-color;
        .icon-web-design-ddm {
            @include web-design-color;
        }
    }
}

.main-nav-ddm-6 {
    :hover {
        @include cyber-security-color;
        .icon-cyber-security-ddm {
            @include cyber-security-color;
        }
    }
}

.main-nav-ddm-7 {
    :hover {
        @include developer-training-color;
        .icon-developer-training-ddm {
            @include developer-training-color;
        }
    }
}

// Our Services Section
.software-color {
    @include software-color;
}
.it-support-color {
    @include it-support-color;
}
.digital-marketing-color {
    @include digital-marketing-color;
}
.telecoms-service-color {
    @include telecoms-service-color;
}
.web-design-color {
    @include web-design-color;
}
.cyber-security-color {
    @include cyber-security-color;
}
.developer-training-color {
    @include developer-training-color;
}