body {
    margin: 0;
}

* {
box-sizing: border-box;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 768px) {
         width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1260px) {
        width: 1200px;
    }

}

// Welcome to next matters section styles

.about-row {
    //display: flex;
    //flex-wrap: wrap;
    

.about {
        display: flex;
        flex-wrap: wrap;
        background-color: #323544;
        color: #fff;
        padding: 30px 0 0;
        position: relative;
    }

.what-our-clients-think {
        display: flex;
        flex-wrap: wrap;
        background-color: #323544;
        color: #fff;
        padding: 30px 0 0;
        position: relative;
}
}