// ==========================================================================
// Banner Styles
// ==========================================================================

// .banner-outer-container {

// }

.banner-background {
    display: flex !important;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    min-height: 550px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(270deg, transparent 25%, #000), url('../img/banner-img/home-YLei.png');
}

.banner-background-2 {
    display: flex !important;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    min-height: 550px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(270deg, transparent 25%, #000), url('../../img/banner-img/home-O67Y.png');
}

.banner {
    color: #fff;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
        a {
            text-decoration: none;
        }
        h1 {
            font-size: 2.5rem;
            line-height: 3rem;
            margin: 0 0 1.25rem;
            font-weight: 600;
        }
        p {
            margin-bottom: .375rem;
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
        }
}

// Banner Backgrounds 
.banner-img-1{
    background-image: linear-gradient(270deg, transparent 25%, #000), url('../img/banner-img/home-YLei.png');
}

.banner-img-2{
    background-image: linear-gradient(270deg, transparent 25%, #000), url('../img/banner-img/home-067Y.jpg');
}

//Media Queries
.banner {
    @media (min-width: 992px) {
    text-align: left;
    }
}