// ==========================================================================
// Footer Styles
// ==========================================================================

.banner {
    
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
        img {
            text-align: center;
            align-items: center;
            display: block;
            flex-wrap: wrap;
            margin: auto;
            margin-left: 0;
        }
}