// ==========================================================================
// Banner Styles
// ==========================================================================
.banner-background {
    display: flex;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.banner {
    color: #fff;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
        a {
            text-decoration: none;
        }
        h1 {
            font-size: 2.5rem;
            line-height: 3rem;
            margin: 0 0 1.25rem;
            font-weight: 600;
        }
        p {
            margin-bottom: .375rem;
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 600;
        }
}