// ==========================================================================
//  Buttons
// ==========================================================================

// Welcome Section Buttons
.btn {
    height: auto;
    line-height: 35px;
    text-transform: uppercase;
    border-radius: 3px;
}

.btn {
    display: inline-block;
    border: 1px solid transparent;
}

.btn-primary-banner1 {
    margin: auto;
    color: #fff;
    background-color: #926fb1;
    margin-top: 1.938rem;
    margin-bottom: 1.125rem;
    padding: 5px 20px;
    line-height: 50px;
    font-size: 1.25rem;
}

.btn-google {
    background-color: #4387f6;
}

.btn-trustpilot {
    background-color: #00b67b;
}

.btn-primary-inverse {
    background-color: #272936;
}

.btn-google, .btn-trustpilot, .btn-primary-inverse {
    margin: auto;
    color: #fff;
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 20px;
}


//Footer Buttons

.btn-primary {
    color: #fff;
    border-color: #333645;
}

//footer social buttons
.facebook {
    padding: 12px 22px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration:  none;
    font-size: 26px;
    line-height: 26px;
    background-color: #212330;
        :hover {
            background-color: #3b5998;
        }
}

.linkedin {
    padding: 12px 22px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration:  none;
    font-size: 26px;
    line-height: 26px;
    background-color: #212330;
        :hover {
            background-color: #0077b5;
        }
}

.twitter {
    padding: 12px 22px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration:  none;
    font-size: 26px;
    line-height: 26px;
    background-color: #212330;
        :hover {
            background-color: #00aced;
        }
}

.instagram {
    padding: 12px 22px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration:  none;
    font-size: 26px;
    line-height: 26px;
    background-color: #212330;
        :hover {
            background-color: #d93175;
        }
}

//media queries

// Welcome Section
@media (max-width: 535px) {
    .btn-primary-inverse{
    margin-bottom: 17px;
    }
}

@media (max-width: 1259px) {
    .btn-google, .btn-trustpilot{
    margin-top: 20px;
    }
}