// ==========================================================================
//  Case Studies Styles
// ==========================================================================
.case-studies {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
}

.case-study-image-container {
    display: flex;
    img {
        display: block;
        align-self: center;
        margin-right: 50px;
        width: 100%;
        padding: 0 20px;
        max-height: 70px;
        height: auto;
        width: auto !important;
        max-width: 200px;
        filter: grayscale(1);
    }
    img:hover {
        filter: grayscale(0);
    }  
}