// ==========================================================================
//  Drop Down Menu Styles
// ==========================================================================
// Main Nav
.drop-down-menu-main-nav-container {
    background-color: #333645;
    margin-bottom: 0;
}

.drop-down-menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-nav {
    width: 100%;
}

.main-nav-ddm {
    display: flex;
    flex-direction: column;
    padding: 19px 0 18px;
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
    small {
        font-size: 10px;
        text-transform: uppercase;
        margin: 0;
    }
}

.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 70px 70px 0 70px;
    border-color: #FF4532 transparent transparent transparent;
    transform: rotate(0deg);
    z-index: 3;
    align-self: center;
 }

// Drop Down Menu Triangles

// Sub Menus
.software-sub-menu-container {
    display: none;
    z-index: 10;
    position: absolute;
    padding: 0;
    min-width: 100%;
    left: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #526781;
}

.software-sub-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    text-align: left;
    li {
        width: 33%;
        margin-top: 15px;
    }
}

// Hover Effect 
.main-nav-ddm-1 {
    :hover {
        background-color: #67809f;
        color: #fff;
        .software-sub-menu-container {
            background-color: #526781;
            display: block;
        }
        ul,li,a {
            background-color: #526781;
        }
    }
}

.main-nav-ddm-2 {
    :hover {
        background-color: #4183d7;
        color: #fff;
    }
}

.main-nav-ddm-3 {
    :hover {
        background-color: #2ecc71;
        color: #fff;
    }
}

.main-nav-ddm-4 {
    :hover {
        background-color: #d64541;
        color: #fff;
    }
}

.main-nav-ddm-5 {
    :hover {
        background-color: #926fb1;
        color: #fff;
    }
}

.main-nav-ddm-6 {
    :hover {
        background-color: #f62459;
        color: #fff;
    }
}

.main-nav-ddm-7 {
    :hover {
        background-color: #ce4125;
        color: #fff;
    }
}
// Main Nav Icons

.icon-software-ddm {
    color: #67809f;
    font-size: 1.6rem;
}

.icon-it-support-ddm {
    color: #4183d7;
    font-size: 1.6rem;
}

.icon-digital-marketing-ddm {
    color: #2ecc71;
    font-size: 1.6rem;
}

.icon-telecoms-service-ddm {
    color: #d64541;
    font-size: 1.6rem;
}

.icon-web-design-ddm {
    color: #926fb1;
    font-size: 1.6rem;
}

.icon-cyber-security-ddm {
    color: #f62459;
    font-size: 1.6rem;
}

.icon-developer-training-ddm {
    color: #ce4125;
    font-size: 1.6rem;
}

// Media Queries 
.drop-down-menu-main-nav-container {
    @media (max-width: 992px) {
        display: none;
    }
}