// ==========================================================================
//  Header Styles
// ==========================================================================
header {
    padding: 20px 0;
    img{
        padding: 0;
        max-width: 100%;
        display: block;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.header-phone-icon {
    max-width: 100%;
    font-size: 32px;
    margin-left: 15px;
    color: #333645;
}

.icon-menu {
    max-width: 100%;
    color: #fff;
    padding: 10px;
    background-color: #333645;
}

// Header Form
.header-form {
    position: relative;
    margin-top: 11px;
    color: #888;
    opacity: 1;
    display: inline-block;
    width: 100%;
    height: 47px;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, .1);
    transition: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.icon-search {
    color: #333645;
    position: relative;
    right: 5px;
    line-height: 47px;
    font-size: 20px;
}