// ==========================================================================
//  Header Styles
// ==========================================================================
header {
    padding: 20px 0;
    img{
        padding: 0;
        box-sizing: border-box;
        width: 65%;
        display: block;
        flex-shrink: 3;
        align-self: center;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-phone-icon {
    max-width: 100%;
    font-size: 32px;
    margin-left: 15px;
    color: #333645;
    align-self: center;
}

.icon-menu {
    margin-left: 20px;
    max-width: 100%;
    color: #fff;
    padding: 11px;
    border-radius: 5px;
    background-color: #333645;
    font-size: 2rem;
    align-self: center;
}

// Header Form
.header-form {
    position: relative;
    margin-top: 11px;
    color: #888;
    opacity: 1;
    display: inline-block;
    width: 100%;
    height: 47px;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, .1);
    transition: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.icon-search-small {
    background: none;
    color: #333645;
    position: absolute;
    right: 5px;
    line-height: 47px;
    font-size: 30px;
}

.form-container {
    position: relative;
}
.large-form-container {
    align-self: center;
    display: flex;
}

.header-form-large {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: 14px;
    height: 56px;
    margin: 0;
}

.icon-search-large {
    border: 0;
    color: #fff;
    font-size: 2rem;
    padding: 12px 20px 12px;
    background-color: #999aa2;
    margin: 0;
    align-self: center;
}

// Media Queries 
.form-container, .header-phone-icon {
    @media (min-width:766px) {
        display: none;
    }
}

.header-form-large, .icon-search-large {
    @media (max-width:767px) {
        display: none;
    }
}

header {
    img {
        @media (min-width:766px) {
            width: 50%;
        }
    }
}

.header-form-large {
    @media (min-width:1260px) {
        width: 240px;
    }
    @media (min-width: 992px) {
        display: none;
    }
}
