// ==========================================================================
//  JavaScript Styles
// ==========================================================================

////////
//Sticky header Styles
///////
.nav-up {
    top: -40px;
}

.nav-down {
    padding-top: 20px;
    position: fixed;
    transition: top 0.2s ease-in-out 0.2s;
    width: 100%;
    z-index: 20;
    top: 0;
    box-shadow: 0 5px 35px rgba(0,0,0,.1);
}

.fake-header{
    background-color: #fff;
}

// header placeholder 

.header-hidden {
    display:none;
}

.header-show {
    display: inline-block;
    height: 142px;
}

// media queries

.header-show {
    @media (min-width: 768px) {
        height: 84px; 
    }
    @media (min-width: 992px) {
        height: 189px; 
    }
}

////////
// Slick Carousel
////////

//Banner Carousel
//Slick Dots

.slick-dots {
    bottom: 30px !important;
}

// Case Studies Carousel
.slick-list-overflowremove{
    overflow: visible !important;
}


////////
// Side Menu
////////

// shows/hides sidebar
.hide-sidebar{
    display: none;
}
 
.active-sidebar {
   display: block;
}

// moves the body wrapper when the side bar is active
.wrapper-center {
    transition: 0.3s;
    transition-timing-function: linear;
}
.wrapper-right {
    transition: 0.3s;
    transition-timing-function: linear;
}

////////
// Cookie Pop Up Styles
////////
.cookie-settings-btn {
    position: fixed;
    line-height: 22px;
    z-index: 99;
    bottom: 0;
    left: 0;
    display: flex;
    background: #75788a;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    border: solid #75788a;
    border-width: 1px 1px 0 0;
    border-radius: 0;
    border-top-right-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    font-size: .8rem;
}

.cookie-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .7);
    display: none;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center !important;
    padding: 30px;
}

.fade-in {
    opacity: 1;
}

.modal-dialog {
    margin: auto;
    transform: translate(0);
    transition: transform .3s ease-out;
    position: relative;
    width: auto;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    background-clip: padding-box;
    outline: none;
}

.modal-header {
    padding: 15px 20px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-weight: 400;
}

.modal-body {
    position: relative;
    padding: 20px;
}

.modal-footer {
    margin: 0;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.modal-btn-1 {
    text-align: center;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
    color: #fff;
    background-color: #999aa2;
    border-color: #999aa2;
    display: block;
    width: 100%;
    cursor: pointer;
}

.modal-btn-2 {
    text-align: center;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
    color: #fff;
    background-color: #926fb1;
    border-color: #926fb1;
    display: block;
    width: 100%;
    cursor: pointer;
}

.modal-row-item {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.cookie-show {
    display: block;
}

.cookie-hide {
    display: none;
}
// Hover Effects
.modal-btn-1:hover {
    color: #fff;
    background-color: #84858f;
    border-color: #797a85;
}

.modal-btn-2:hover {
    color: #fff;
    background-color: #7e57a0;
    border-color: #735093;
}
// Media Queries
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
    }
}

@media (min-width: 768px) {
    .modal-content {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

@media (max-width: 767px) {
    .modal-top-btn {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .modal-row-item {
        width: 50%;
    }
}