// ==========================================================================
//  Partners Styles
// ==========================================================================
.partners {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    img {
        padding: 0 20px;
        max-height: 70px;
        width: auto !important;
        max-width: 200px;
        filter: grayscale(1);
    }
    img:hover {
        filter: grayscale(0);
    }
}