// ==========================================================================
//  Side Menu Styles
// ==========================================================================
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  width: 275px;
  background: #333645;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
  ul {
    list-style: none;
    padding: 0;
  }
  ::-webkit-scrollbar {
    //transform: ;
    position: relative;
    left: 30px;
}
}

.main-sidebar {
  padding: 21px;
  ul {
    margin: -20px 0 0;
    li {
      padding: 20px 0 0;
      a {
        font-size: 1.125rem;
        padding: 19px 0 18px;
        border-radius: 3px;
        outline: 1px solid rgba(0,0,0,.25);
        border: 1px solid hsla(0,0%,100%,.1);
        display: block;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}

// Media Queries
@media (min-width: 992px) {
  .sidebar {
    width: 350px;
  }
}