// ==========================================================================
//  Case Studies Styles
// ==========================================================================
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 275px;
    background: #333645;
    overflow: auto;
  }



// Media Queries
@media (min-width: 992px) {
    .sidebar {
      width: 350px;
    }
  }